{% extends "base.html" %}
{% block body %}
    {% load static %}

    <button onclick="share()" style="width: 10%; margin-left: 5%; height: 50px; border:#04AA6D solid; background-color: #04AA6D; color: white; font-size: 35px; position: absolute">Share</button>
        <p style="position: absolute; color: white; margin-top: 70px; margin-left: 5%" id="share"></p>
        <div id="myBoard" style="width: 800px; margin: auto;"></div>
            <button class="arrow left" onclick="change_board(-1)">
              <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
                <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
                45.63,75.8 0.375,38.087 45.63,0.375 "/>
              </svg>
            </button>
            <button class="arrow right" onclick="change_board(1)">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
                <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
                0.375,0.375 45.63,38.087 0.375,75.8 "/>
              </svg>
            </button>
    <script>
        let array_fen = '{{ game.data }}';
        let fen = array_fen.split(".");
        let i = 0;
        change_board(0);

        function change_board(j){
            i = i+j;
            if(i < 0){
                i=i-j;
            }else if(i >= fen.length){
                i=i-j;
            }

            let config = {
            draggable: true,
            dropOffBoard: 'snapback', // this is the default
            position: fen[i],
            pieceTheme:'{% static 'img/chesspieces/wikipedia/' %}'+'{piece}.png'
            }
            Chessboard('myBoard', config)
        }
        // When the user clicks on div, open the popup
        function myFunction() {
          var popup = document.getElementById("myPopup");
          popup.classList.toggle("show");
        }

        function share(){
            document.getElementById('share').innerHTML = '127.0.0.1:8000/chess/{{ game.id }}/'
        }

    </script>
{% endblock %}